<ion-view view-title="Add Expense">
  <ion-content>
    <ion-item class="item item-divider">
        <div style="padding: 20px 0 20px 0">Input Method</div> <!-- QUICK.HACK.ON.STYLE -->
        <ion-item href="#/app/addExpense/0"> <i class="ion-mic-a margin-lr10"></i> Voice</ion-item>
        <ion-item href="#/app/addExpense/1"> <i class="ion-camera margin-lr10"></i> Take Picture</ion-item>
        <ion-item href="#/app/addExpense/2"> <i class="ion-compose margin-lr10"></i> Text</ion-item>
    </ion-item>
  </ion-content>
</ion-view>
