<ion-view view-title="Link to Banks">
  <ion-content>

    <div class="list card">
      <div class="item item-divider">Link to DBS/div>

      <a ng-hide="showExpandedDBS && linkState_DBS<2" class="item item-thumbnail-left" ng-REPEAT="bank in banks.slice(0,1)" href="#">
        <img ng-src="{{bank.imgUrl}}" style="border-radius:5px;">
        <!-- <p>Description</p> -->
        <p style="vertical-align:middle;">
          <button on-touch="showExpandedDBSCard(true)" ng-show="linkState_DBS<2" class="button button-positive floatRight" style="margin:15px;">Expand</button>
          
          <p ng-show="linkState_DBS>=2">Andrew Pinter <br>S/N: 849-54820-6</p>
          <div class="floatLeft">
            <button on-touch="unlinkDBS()" ng-show="linkState_DBS>=2"class="button button-positive floatRight">Unlink Account</button>
          </div>
        </p>
      </a>

      <ion-item ng-show="showExpandedDBS && linkState_DBS<2" class="item item-body item-button-right">
        <button on-touch="hideExpandedDBSCard()" class="button button-positive floatRight">Hide</button>

        <div style="margin-top:-30px;">
            <div class="floatLeft" style="text-align:center">
              <br><img ng-src="{{banks[0].imgUrl}}">
            </div>

            <div class="floatLeft">
                <div class="list" ng-show="linkState_DBS==0">
                  <label class="item item-input">
                    <input type="text" placeholder="IB ID">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="IB Pass">
                  </label>
                  <!-- <div>Tap on the token for OTP</div> -->
                  <label class="item item-input">
                    <input type="text" placeholder="OTP">
                  </label>
                  <label class="item item-input">
                    <button class="button button-positive" on-touch="loadDBSData();">Link to DBS Account</button>
                  </label>
                </div>
                <div ng-show="linkState_DBS==1" style="margin-top:10px; vertical-align: middle;"><img src="img/loader-larger.gif" style="width: 20px; vertical-align:middle; margin-top:-5px;"> Loading DBS Data</div>
            </div>
        </div><!-- endof floatRight div -->

        <br class="floatClear">
      </ion-item>





    </div><!-- endof list card for DBS -->

    <div class="list card">
        <div class="item item-divider">
        Link to Other Banks
        </div>

        <a class="item item-thumbnail-left" ng-REPEAT="bank in banks.slice(1,entries.length)" href="#">
          <img ng-src="{{bank.imgUrl}}" style="border-radius:5px;">
          <!-- <p>Description</p> -->
          <p style="vertical-align:middle; margin-top:15px; margin-bottom:15px;">
            <button on-touch="getBankAuthorisation($index)" class="button button-positive floatRight">Add Credit Card</button>
          </p>
        </a>
    </div><!-- endof list -->

  </ion-content>
</ion-view>
