<ion-view view-title="Expense Summary">
  <ion-content scroll="false">
    <div class="button-bar bar-positive">
      <button class="button" ng-class="{'button-calm': selected != 'Day', 'button-positive': selected == 'Day'}" style="width: 100%" ng-click="select('Day')">Day</button>
      <button class="button" ng-class="{'button-calm': selected != 'Week', 'button-positive': selected == 'Week'}" style="width: 100%" ng-click="select('Week')">Week</button>
      <button class="button" ng-class="{'button-calm': selected != 'Month', 'button-positive': selected == 'Month'}" style="width: 100%" ng-click="select('Month')">Month</button>
      <button class="button" ng-class="{'button-calm': selected != 'Year', 'button-positive': selected == 'Year'}" style="width: 100%" ng-click="select('Year')">Year</button>
    </div>
    <div class="bar bar-royal" style="position: relative">
      <button ng-click="prev()" class="button icon ion-chevron-left"></button>

      <div class="h1 title" ng-if="selected == 'Day'">{{date.format('Do MMMM, YYYY')}}</div>
      <div class="h1 title" ng-if="selected == 'Week'">Week of {{date.clone().day('Sunday').format('Do MMMM, YYYY')}}</div>
      <div class="h1 title" ng-if="selected == 'Month'">{{date.format('MMMM YYYY')}}</div>
      <div class="h1 title" ng-if="selected == 'Year'">{{date.format('YYYY')}}</div>

      <button ng-click="next()" class="button icon ion-chevron-right"></button>
    </div>
    <ion-list>
      <ion-item ng-repeat="s in filterSim = (simData | correspondsDate:date:selected)">
        <div style="float:left">
          <h3>{{s.shopName}}</h3>
          <p>{{s.expenseType}}</p>
        </div>
        <span class="item-note">
          <p>{{s.amount}}</p>
          <p>{{s.date.format('DD/MM/YYYY')}}</p>
        </span>
      </ion-item>
    </ion-list>
    <div ng-hide="filterSim.length">
      <ion-item>
        <p>No expenses found.</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
