<ion-view view-title="Message">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{item.title}}</h2>
        <p>{{item.time}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{item.img}}">
        <p>
          {{item.desc}}
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Claim
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
