<ion-view view-title="{{item.title}}">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{item.title}}</h2>
        <p>{{item.time.format('h:mm a')}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          {{item.desc}}
        </p>
        <p>
          <a href="#" class="subdued">50 claimed</a>
          <a href="#" class="subdued">30min remaining</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Claim
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
